/* 
    Document   : global
    Created on : 22/08/2012, 13:05:51
    Author     : rdaumas
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

titulo{
    font-style: normal;
    font-family: sans-serif;
    
    
}