/* 
    Document   : global
    Created on : 22/08/2012, 13:05:51
    Author     : rdaumas
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.titulo{
    font-style: normal;
    font-family: sans-serif;
}
body, div{
    background-color: #F5E192;
    font-family: 'Trebuchet MS',Arial,Verdana,sans-serif;
}

hr{
    border-color: green;
}
/*give the body height:100% so that its child
    elements can have percentage heights*/

#sidebar{
    background-color: #EF642A;
}

h1{
    font-size: larger;
    font-weight: bold;
}
h2{
    font-size: medium;
    font-weight: bold;
}

dt {
padding: 0 0 5px 0;
height: 1.5em;
}
dd {
padding: 0 0 5px 5px;
}
dt label {
font-weight: normal;
font-size: 9px;
}

dt label.required:before {
content: "* ";
color: #ff0000;
}
ul.errors {
padding: 5px 0 5px 25px;
color: #ff0000;
}

.required
{
background-image:url(/skins/default/css/images/required.png);
background-position:top right;
background-repeat:no-repeat;
padding-right:10px;
}

.info{
    font-family: Arial,Verdana,sans-serif; /*Comic Sans, Comic Sans MS, cursive;*/
    font-size: small;
}

legend{
    font: Arial,Verdana,sans-serif;
    font-size: x-small;
    font-weight: bold;
} 

label.leftalign {
    display: block;
    float: left;
    font-weight: normal;
    font-size: small;
    line-height: 1.2em;
    text-align: right;
}
label.rightalign {
    display: block;
    font-weight: normal;
    font-size: small;
    line-height: 1.2em;
    text-align: right;
}
input.leftalign{
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 5px;
    line-height: 1.6em;
    text-align: left;
}

.invisible{
    visibility: hidden;
    height: 0;
}

input, textarea, select{
    border-radius: 5px;
    border: 1px solid #FA6400;
    background: #FFFABD url(/skins/default/css/images/ui-bg_glass_65_fffabd_1x400.png) 50% 50% repeat-x;
    color: #42962F;
    padding-left: 5px;
    padding-right: 5px;
}

select{
    padding-right: 0;
}

.buttons
{
    border-radius: 5px;
    outline: 0 !important;
    border: 1px solid #CCC;
    background: #FFFABD url(/skins/default/css/images/ui-bg_glass_65_fffabd_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #42962F;
    font-family: 'Trebuchet MS',Tahoma,Verdana,sans-serif;
    font-size: 75%;
    font: -webkit-small-control;
    font-weight: bold;
    display: inline-block;
    position: relative;
    margin-right: .1em;
    cursor: pointer;
    text-align: center;
    line-height: 1.4;
    zoom: 1;
    overflow: visible;
    margin: 0em;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-appearance: button;
}
.buttons[disabled]
{
        background-color: #ffffff;
}
.buttons:hover
{
    border: 1px solid #FA6400; 
    background: #ffff00 url(images/ui-bg_glass_100_ffff00_1x400.png) 50% 50% repeat-x; 
    font-weight: bold; 
    color: #42962f;
}

.readonly{
    color: #4d5c95;
}

/* BRANCH */

.googlemap{
    visibility: visible;
    width: 420px;
    display:block;
    
    border: 5px solid #EF642A;

    /*set the div in the center of the screen*/
    position:absolute;
    top:5%;
    left:25%;
}

img#logo{
    visibility:visible;
}

/*   CATEGORIAS    */

form#categoryTree{
    width: 310px;
}
div#treeViewCategorias{
    width: 300px;
    height: 300px;
    overflow: scroll;
    background-color: #FFFABD;
}
ul#tree{
    
}

dl.zend_form{
   width: 100%;
}
dd#submit-element{
    width: 300px;
}
dt#submit-label{
    width: 300px;
}

  /*this is what we want the div to look like*/
div.fullscreen{
    display:block;

    /*set the div in the top-left corner of the screen*/
    position:absolute;
    top:0;
    left:0;

    /*set the width and height to 100% of the screen*/
    width:100%;
    height:100%;
}

.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);

    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);

    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);

    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

div p{
    padding-left: 5px;
    padding-right: 5px;
}

/*[for^=tree]{
    color: #42962F;
    font-size: 0.75em;
    background-color: #FFFABD;
}*/

ul[id=tree] li{
    color: #42962F;
    font-size: 11;
    background-color: #FFFABD;
}

dt[id=alertType-label] label{
    display: block;
    float: left;
    font-weight: normal;
    font-size: small;
    line-height: 1.2em;
    text-align: right;
}