* { 
    /*
    margin: 5px;
    padding: 5px;*/
    /*border:#749BCE 1px solid;*/
}
p {
    font-size: .75em;
}
#pageWrapper {
    width: 960px;
    margin: auto; 
    position: relative;
/*    margin: 1em auto ;*/
}
#header {
    height: 7.5em;
    margin: 5px;
}
#nav {
    height: 2.5em;
    margin: 5px;
}
#sidebar {
    float: left;
    width: 180px;
    height: 40em;
}
#main {
    float: right;
    width: 780px;
    right:0px; 
    /*border-width: medium;*/
}
#subNav,#adminMenu,#userForm {
    width: 95%;
    height: 10em;
/*    margin: .25em;*/
}
#footer {
    clear: both;
    height: 2.5em;
    margin: 0;
}

/*
input[type="submit"]{
    margin: 2px;
    padding: 5px;
    color: #ffffff;
    border: solid 2px #b6d6ff;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 2px 2px 2px #bbb;
    background-color: #4d5c95;
}
*/